.nav {
  display: flex;
  gap: 60px;
  align-items: center;

  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    @include font-settings(16px, $gray800, 700, 1.6);
    @include transition(color);

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}
