.socials {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  gap: 12px;
  justify-content: end;
  align-items: flex-end;

  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 340px;

  border-radius: 4px;
  background: linear-gradient(
    180deg,
    rgba(30, 33, 44, 0) 43.9%,
    rgba(30, 33, 44, 0.03) 55.21%,
    rgba(30, 33, 44, 0.33) 68.73%,
    rgba(30, 33, 44, 0.56) 76.17%,
    rgba(30, 33, 44, 0.768225) 83.75%,
    rgba(30, 33, 44, 0.92) 91.49%,
    #1e212c 100%
  );

  opacity: 0;

  @include transition(opacity);
}
